.login-form-container {
  width: 50rem;
  height: 65rem;
  margin: 20rem auto 0 auto;
  border-radius: 2rem;
  background-color: var(--dark-transparent-background);
  border: 0.2rem solid var(--dark-transparent-background);
  box-shadow: 0 0.4rem 0.4rem 0 var(--dark-transparent-background);
  backdrop-filter: blur(0.2rem);

  & h1 {
    margin: 2.5rem 0 5rem 0;
    font-size: 5rem;
    font-weight: 400;
    color: inherit;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 33%;
      margin: 2.5rem auto 5rem auto;
      border-bottom: 0.5rem solid var(--primary-main-font-color);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    & input {
      height: 5rem;
      width: 35rem;
      margin: 1rem 0 0 0;
      padding: 0 0 0 2.5rem;

      &::placeholder {
        color: var(--primary-main-font-color);
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    & button {
      height: 5rem;
      width: 17.5rem;
      margin: 5rem 0 0 0;
    }

    & input,
    & button {
      font-size: inherit;
      color: inherit;
      background-color: var(--primary-main);
      border-radius: 0.75rem;

      &:focus {
        outline: 0.25rem solid var(--primary-main-font-color);
      }
    }
  }
}
