.add-transaction-modal {
  width: 35%;
  margin: 5% auto 0 auto;
  color: var(--primary-main-font-color);
  font-size: 1.4rem;
  border: 0.1rem solid rgba(201, 198, 198, 0.6);
  border-radius: 1.5rem;
  background-color: var(--dark-background);

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input[type='date'],
    & input[type='number'] {
      width: 20rem;
    }

    & input[type='checkbox'] {
      margin: 5rem 0 0 0;
    }
  }
}
